body {
  margin:0px;
  background-image: radial-gradient(closest-side, rgb(232, 49, 13), rgba(235, 105, 78, 0));
  background-size: 130vw 130vh;
  background-position: -80vw -80vh;
}

#header {
    text-align: center;
    font-weight: bold;
}

#subheader {
    text-align: center;
    font-size: 250%;
}

//就先写这么多吧，管他呢
