body {
  font-family: "Microsoft Yahei", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height:100%;
  margin:0;
}
html {
  margin:0;
}
.header {
  background-color: #f2f2f2;
  padding: 10px 0;
}
.subtitle {
  font-size: 18px;
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.topnav li {
  float: left;
}
.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav li a:hover {
  background-color: white;
  color: #333;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar-content {
  text-align: center;
  padding: 10px;
}
.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar-close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
